.overlay {
  visibility: hidden;
}

.box-list:hover {
  .box-img {
    transition: 1s;
    @include filter(0.7);
  }
  .overlay {
    visibility: visible;
    transition: 1s;
  }
}

.details-list {
  h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  li {
    margin-top: 0.5rem;
  }
}