@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Muli');

$orimo: 'Arimo', sans-serif;
$muli: 'Muli', sans-serif;

$backgroundColor: #F5F5F5;
$black: #212121;

$white: #FFFFFF;